<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.local.debug-auto-allow</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/open</string>
		<string>-W</string>
		<string>--stdout</string>
		<string>/tmp/debug-auto-allow.debug.log</string>
		<string>--stderr</string>
		<string>/tmp/debug-auto-allow.debug.log</string>
		<string>__DEBUG_AUTO_ALLOW_APP_PATH__</string>
		<string>--args</string>
		<string>--interval</string>
		<string>0.4</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>StandardOutPath</key>
	<string>/tmp/debug-auto-allow.debug.log</string>
	<key>StandardErrorPath</key>
	<string>/tmp/debug-auto-allow.debug.log</string>
</dict>
</plist>
